.article-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  overflow-y: scroll;
}

.article-container::-webkit-scrollbar {
  display: none;
}

.article-content {
  background: rgba(246, 246, 246, 0.85);
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  font-style: italic;
  border-radius: .4em;
  box-shadow: .17em .15em .2em;
}

.title {
  font-size: 1.6em;
  font-weight: bolder;
  text-decoration: underline;
}

.abstract {
  font-size: 1.4em;
  font-weight: 500;
}

.author {
  font-size: 1em;
  font-weight: 300;
}

.article-content > a {
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
  font-style: normal;
}

.article-content > a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .article-content {
    margin: 0 15%;
  }
}

@media (min-width: 1440px) {
  .article-content {
    margin: 0 20%;
  }
}

@media (min-width: 2560px) {
  .article-content {
    margin: 0 30%;
  }
}
