.article-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: auto;
  overflow-y: scroll;
}

.article-container::-webkit-scrollbar {
  display: none;
}

.article-content {
  background: rgba(246, 246, 246, 0.85);
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  border-radius: .4em;
  box-shadow: .17em .15em .2em;
}

.article-content > a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}

.article-content > a:hover {
  text-decoration: underline;
}
