nav {
  padding: 1em;
  border-bottom: solid .01em;
  box-shadow: 0 .24em .4em;
}

.link {
  font-size: 2em;
  font-weight: bolder;
  color: inherit;
}

.nav-links {
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
}


.nav-links > .link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .nav-links {
    margin: 1em 15%;
  }
}

@media (min-width: 1440px) {
  .nav-links {
    margin: 1em 20%;
  }
}

@media (min-width: 2560px) {
  .nav-links {
    margin: 1em 30%;
  }
}
